.message {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: calc(100% - 60px);
  max-width: 475px;
  background-color: #fff;
  margin-left: 30px;
  box-shadow: 0 10px 35px 0 rgba(47, 47, 51, 0.25);
  border: 2px solid #2f2f33;
}

.message__wrapper {
  padding: 25px 30px 25px;
  background-color: rgba(5, 59, 147, 0.075);
}

.message.is-invalid .message__wrapper {
  background-color: rgba(173, 5, 5, 0.075);
}

.message.is-successful .message__wrapper {
  background-color: rgba(5, 173, 59, 0.075);
}

.message.is-confirm .message__wrapper {
  background-color: rgba(5, 59, 147, 0.075);
}

.message.is-confirm .message__text {
  display: none;
}

.message.is-confirm .message__control-panel {
  display: block;
}

.message-enter-active,
.message-leave-active {
  transition: all 0.3s ease;
}
.message-enter,
.message-leave-to {
  opacity: 0;
  transform: translate(75px, 0);
}

.message__title {
  padding-right: 30px;
  margin: 0 0 1rem;
  font-size: 1.3rem;
}

.message__text {
  line-height: 1.5;
  font-size: 0.9rem;
}

.message__close {
  position: absolute;
  top: 12px;
  right: 10px;
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.message__close-inner {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
}

.message__close-inner::before,
.message__close-inner::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 13px;
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 4px;
  background-color: #2f2f33;
}

.message__close-inner::before {
  transform: rotate(45deg);
}

.message__close-inner::after {
  transform: rotate(-45deg);
}

.message__control-panel {
  display: none;
  margin-top: 2rem;
}

.message__button {
  min-width: 85px;
  margin-right: 1.5rem;
  padding: 14px 25px 12px;
}

.message__button:last-child {
  margin-right: 0;
}

@media (max-width: 992px) {
  .message {
    max-width: 375px;
  }
}

@media (max-width: 480px) {
  .message {
    margin: 0;
    width: 100%;
    right: 0;
    bottom: 0;
  }

  .message__wrapper {
    padding: 20px 50px 20px 20px;
  }

  .message__close {
    top: 5px;
    right: 5px;
  }

  .message__title {
    padding-right: 0;
  }
}
