.task {
  padding: 10rem 0;
}

.task__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.task__list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.task__switch-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.task__switch-item {
  display: block;
  margin-right: 3rem;
}

.task__switch-item:last-child {
  margin-right: 0;
}

.task__switch-button {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  color: #2f2f33;
  cursor: pointer;
}

.task__switch-button.is-active {
  color: #053b93;
}

.task__switch-quantity {
  margin-left: 0.35rem;
  color: #57575a;
}

.task__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-image: url("../../assets/dot.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.task__item {
  display: flex;
  flex-wrap: nowrap;
  padding: 2.5rem 1rem;
  background-image: url("../../assets/dot.svg");
  background-repeat: repeat-x;
  background-position: 0 100%;
}

.task__logo-part {
  width: 150px;
  padding: 0 25px;
}

.task__item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.task__header-link {
  font-weight: 300;
  font-size: 0.85rem;
  color: #57575a;
}

.task__header-link:hover,
.task__header-link:focus {
  color: #053b93;
}

.task__desc-part {
  width: calc(100% - 150px);
  padding: 0 25px;
}

.task__logo {
  display: block;
  width: 100%;
}

.task__description >>> p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.65;
}
