.task-form {
  padding: 10rem 0 0;
}

.task-form__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("../../../img/dot.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.task-form__box {
  padding: 3.5rem 3rem;
  background-image: url("../../../img/dot.svg");
  background-repeat: repeat-x;
  background-position: 0 100%;
}

.task-form__title {
  margin-bottom: 3rem;
}

.task-form__title h3 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.55;
}

.task-form__item {
  margin-bottom: 2.5rem;
}

.task-form__item:last-child {
  margin-bottom: 0;
}

.task-form__item--button {
  margin-top: 3.5rem;
}

.task-form__message {
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.4;
}

.task-form__message.is-invalid {
  color: #ad0505;
}

.task-form__message.is-successful {
  color: #05ad3b;
}

.task-form__message.is-hidden {
  display: none;
}

.task-form__item--button .task-form__message {
  width: calc(100% - 180px);
  padding: 0 4.5rem;
}

.task-form__message.task-form__message--noIndent {
  margin-top: 0;
}

@media (max-width: 1980px) {
  .task-form__wrapper {
    max-width: 1000px;
  }
}

@media (max-width: 1280px) {
  .task-form {
    padding: 5rem 0 0;
  }

  .task-form__item--button .task-form__message {
    padding: 0 4rem;
  }
}

@media (max-width: 992px) {
  .task-form {
    padding: 4rem 0 0;
  }

  .task-form__box {
    padding: 3rem 0;
  }

  .task-form__item--button .task-form__message {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .task-form {
    padding: 3.5rem 0 0;
  }

  .task-form__box {
    padding: 2.5rem 0;
  }

  .task-form__title {
    margin-bottom: 2rem;
  }

  .task-form__title h3 {
    font-size: 1rem;
  }

  .task-form__item {
    margin-bottom: 2rem;
  }

  .task-form__item--button {
    flex-wrap: wrap;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  .task-form__item--button .task-form__message {
    width: 100%;
    padding: 0;
    margin-top: 1.5rem;
  }

  .task-form__button {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .task-form {
    padding: 3rem 0 0;
  }

  .task-form__box {
    padding: 2rem 0;
  }

  .task-form__button {
    margin-bottom: 1rem;
  }
}
