.footer {
  padding: 2rem 1.25rem;
  background-color: #242427;
  text-align: center;
}

.footer__desc {
  font-size: 0.85rem;
  line-height: 1.5;
  color: #81827e;
}

.footer__link {
  display: inline-block;
  color: #81827e;
}

.footer__link:hover,
.footer__link:focus {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 1.25rem;
  }
}
