.task {
  padding: 10rem 0 5rem;
}

.task__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.task__logo {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 150px;
  margin: auto;
}

.task__subtitle {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.65;
}

.task__subtitle:last-child {
  margin-bottom: 0;
}

.task__button {
  margin-top: 2rem;
}

@media (max-width: 1280px) {
  .task {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .task {
    padding: 3rem 0;
  }

  .task__button {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .task__title.task__title--additional {
    line-height: 1.45;
  }

  .task__subtitle {
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }
}
