.task {
  padding: 10rem 0 5rem;
}

.task__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.task__item {
  display: flex;
  flex-wrap: nowrap;
  padding: 2.5rem 1rem;
  background-image: url("../../../img/dot.svg");
  background-repeat: repeat-x;
  background-position: 0 100%;
}

.task__logo-part {
  width: 150px;
  padding: 0 25px;
}

.task__item-header {
  margin-bottom: 1.5rem;
}

.task__item-main {
  margin-bottom: 3rem;
}

.task__content-meta-title {
  display: block;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.4;
}

.task__content-meta-link {
  display: inline-block;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.4;
}

.task__desc-part {
  width: calc(100% - 150px);
  padding: 0 25px;
}

.task__logo {
  display: block;
  width: 100%;
}

.task__description-wrapper {
  margin: 0 0 2rem;
}

.task__item-social-item {
  display: inline-block;
}

.task__title {
  font-size: 2.25rem;
  margin-bottom: 1.75rem;
}

@media (max-width: 1280px) {
  .task {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .task {
    padding: 3rem 0;
  }

  .task__item {
    padding: 2rem 0;
  }

  .task__logo-part {
    display: none;
  }

  .task__desc-part {
    width: 100%;
    padding: 0;
  }

  .task__item-header {
    margin-bottom: 1rem;
  }

  .task__item-main {
    margin-bottom: 1.5rem;
  }

  .task__item-social-link {
    margin-right: 1rem;
    line-height: 1.35;
  }
}
