.task {
  padding: 10rem 0 5rem;
}

.task__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.task__item {
  display: flex;
  flex-wrap: nowrap;
  padding: 2.5rem 1rem;
  background-image: url("../../../img/dot.svg");
  background-repeat: repeat-x;
  background-position: 0 100%;
}

.task__logo-part {
  width: 150px;
  padding: 0 25px;
}

.task__item-header {
  margin-bottom: 1.5rem;
}

.task__item-main {
  margin-bottom: 3rem;
}

.task__content-meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task__content-meta-part {
  width: 50%;
  padding-right: 35px;
}

.task__content-meta-part--author {
  width: auto;
  padding-right: 0;
  text-align: right;
}

.task__content-meta-title {
  display: block;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.4;
}

.task__content-meta-link {
  display: inline-block;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.4;
}

.task__desc-part {
  width: calc(100% - 150px);
  padding: 0 25px;
}

.task__logo {
  display: block;
  width: 100%;
}

.task__description-wrapper {
  margin: 0 0 2rem;
}

.task__description p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.65;
}

.task__item-footer {
  display: flex;
  justify-content: space-between;
}

.task__item-social-item {
  display: inline-block;
}

.task__item-social-title {
  margin-right: 0.5rem;
  font-weight: 600;
}

.task__item-social-link {
  position: relative;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #2f2f33;
}

.task__item-social-link:last-child {
  margin-right: 0;
}

.task__item-social-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  max-width: 15px;
  background-color: #053b93;
  transition: max-width 0.15s ease;
}

.task__item-social-link:hover,
.task__item-social-link:focus {
  color: #053b93;
}

.task__item-social-link:hover::after,
.task__item-social-link:focus::after {
  max-width: 100%;
}

.task__tags-list {
  padding: 0;
  list-style: none;
}

.task__tags-item {
  display: inline-block;
  margin-right: 1.5rem;
}

.task__tags-item:last-child {
  margin-right: 0;
}

@media (max-width: 1280px) {
  .task {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .task {
    padding: 3rem 0;
  }

  .task__item {
    padding: 2rem 0;
  }

  .task__logo-part {
    display: none;
  }

  .task__desc-part {
    width: 100%;
    padding: 0;
  }

  .task__item-header {
    margin-bottom: 1rem;
  }

  .task__item-main {
    margin-bottom: 1.5rem;
  }

  .task__description p {
    line-height: 1.25;
  }

  .task__item-social-link {
    margin-right: 1rem;
    line-height: 1.35;
  }
}
