.tabs__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.tabs__button-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tabs__button-item {
  display: block;
  padding-right: 3rem;
}

.tabs__button-item:last-child {
  padding-right: 0;
}

.tabs__button {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  color: #2f2f33;
  cursor: pointer;
}

.tabs__button.is-active,
.tabs__button:hover,
.tabs__button:focus {
  color: #053b93;
}

.tabs__button-quantity {
  margin-left: 0.35rem;
  color: #57575a;
}

.tabs__details-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tabs__details-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0 -2rem;
}

.tabs__details-item::before,
.tabs__details-item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-image: url("../../../img/dot.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.tabs__details-item::before {
  top: 0;
}

.tabs__details-item::after {
  bottom: 0;
}

@media (max-width: 768px) {
  .tabs__button-wrapper {
    flex-wrap: wrap;
    padding: 0.5rem 0;
  }

  .tabs__button-wrapper .button {
    display: none;
  }

  .tabs__button-list {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
  }

  .tabs__button-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
  }

  .tabs__button {
    margin: 0 auto;
    font-size: 1rem;
  }

  .tabs__details-item {
    margin: 0 -1.25rem;
  }
}
