@import "button.css";
@import "grid.css";
@import "form.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

html,
body {
  font-family: "Poppins", sans-serif;
  color: #2f2f33;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #57575a;
}

a:hover,
a:focus {
  color: #053b93;
}

a,
button {
  transition: all 0.3s ease;
}

a:focus,
button:focus {
  outline: none;
}

p {
  margin: 0;
}

h1,
.h1 {
  position: relative;
  margin: 0 0 2.25rem;
  font-size: 4.75rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
}

h2,
.h2 {
  position: relative;
  margin: 0 0 2.2rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
}

h3,
.h3 {
  position: relative;
  margin: 0 0 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1px;
}

.subtitle {
  margin-bottom: 3.35rem;
  font-size: 1.45rem;
  line-height: 1.55;
}

.subtitle:last-child {
  margin-bottom: 0;
}

img,
svg {
  max-width: 100%;
}

.page-initial-screen {
  max-width: 800px;
}

@media (max-width: 1280px) {
  h1,
  .h1 {
    margin: 0 0 2rem;
    font-size: 4rem;
    line-height: 1.2;
  }
  .subtitle {
    margin-bottom: 3rem;
    font-size: 1.25rem;
    line-height: 1.45;
  }
}

@media (max-width: 768px) {
  h1,
  .h1 {
    margin: 0 0 1.25rem;
    font-size: 3.5rem;
    line-height: 1.25;
  }

  h3,
  .h3 {
    margin: 0 0 1rem;
  }

  .subtitle {
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  h1,
  .h1 {
    font-size: 3rem;
  }
}
