@import "button.css";
@import "grid.css";
@import "../home/index.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

html,
body {
  font-family: "Poppins", sans-serif;
  color: #2f2f33;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #57575a;
}

a:hover,
a:focus {
  color: #053b93;
}

a,
button {
  transition: all 0.3s ease;
}

a:focus,
button:focus {
  outline: none;
}

p {
  margin: 0;
}

h1,
.h1 {
  position: relative;
  margin: 0 0 2.25rem;
  padding-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
}

h2,
.h2 {
  position: relative;
  margin: 0 0 2.2rem;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
}

h3,
.h3 {
  position: relative;
  margin: 0 0 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1px;
}

h1:after,
.h1:after,
h1:before,
.h1:before,
h2:after,
.h2:after,
h2:before,
.h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #053b93;
}

h1:before,
.h1:before {
  left: 0;
  width: 62px;
  height: 5px;
  border-radius: 5% 5% 5% 5% / 50% 50% 50% 50%;
}

h1:after,
.h1:after {
  position: absolute;
  left: 65px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border-radius: 50%;
}

img,
svg {
  max-width: 100%;
}

@media (max-width: 768px) {
  h1,
  .h1 {
    margin: 0 0 1.85rem;
    padding-bottom: 1.1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
  }
  h1:before,
  .h1:before {
    width: 45px;
    height: 4px;
  }

  h1:after,
  .h1:after {
    left: 48px;
    width: 4px;
    height: 4px;
  }
}
